services:
  k6:
    image: grafana/k6:latest
    container_name: flighthours-k6
    volumes:
      - ./platform/k6:/scripts
    ports:
      - "6565:6565"
    environment:
      - K6_OUT=json=/scripts/results.json
    command: run /scripts/script.js
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - flighthours-network

networks:
  flighthours-network:
    driver: bridge
